<%- include('./partials/header.ejs'); %>

<div class="container-fluid">
    <div class="row d-flex align-items-center about-section-1">
        <div class="col-xl-6 col-lg-5">
            <div class="pt-2 mx-auto mb-5 mb-lg-0 ms-lg-0 me-xl-7 text-center">
                <h2 class="appLogo my-3" style="font-size: 2.5em;"><%= appName %></h2>
                <h3 class="h4 fw-light opacity-70 line-height-base">The social network for your family</h3>
                <div class="row mt-4">
                    <div class="col-4">
                        <div class="h5 text-muted fw-normal opacity-70 mb-2">Just your <span class="text-body">family</span></div>
                    </div>
                    <div class="col-4">
                        <div class="h5 text-muted fw-normal opacity-70 mb-2">Just your <span class="text-body">friends</span></div>
                    </div>
                    <div class="col-4">
                        <div class="h5 text-muted fw-normal opacity-70 mb-2">Just your <span class="text-body">Fam</span></div>
                    </div>
                </div>
                <a class="btn btn-primary my-3" href="/login">Get Started</a>
            </div>
        </div>
        <div class="col-xl-6 col-lg-7 d-block">
            <img class="w-50 img-thumbnail" src="/posts.png" alt="posts" id="posts-thumbnail">
            <img class="w-50 img-thumbnail" src="/postCommentEx.png" alt="" id="postcomment-thumbnail">
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs'); %>