<%- include('./partials/header.ejs'); %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            


            <h1 class="text-left mb-3" id="loginTitle"><strong>Create your Fam</strong></h1>
            <form action="/update/fam" method="POST" class="needs-validation" novalidate>
                    <div class="form-group">
                        <input type="text" class="form-control" id="family-name" name="familyName" aria-describedby="famHelp" placeholder="Group name" required>
                        <small id="famHelp" class="form-text text-muted">This will create a new Fam. If you want to join an existing fam, contact someone in that fam.</small>
                    </div>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        </div>
    </div>
</div>

<div class="bg-social">
    <i class="fas fa-comment icon-1"></i>
    <i class="fas fa-comment icon-2"></i>
</div>

<%- include('./partials/footer.ejs'); %>