<%- include('./partials/header.ejs'); %>


<div class="container">
    <h1 class="text-danger">Error!</h1>
    <h2 class="text-danger">This link is invalid or has expired, please request a new link from the person that sent you this.</h2>

    <hr class="hr-text" data-content="OR">

    <div class="text-center">
        <p><a href="/register" id="register-btn">Create a new account</a> or <a href="/login" id="register-btn">Login</a></p>
        
    </div>
</div>

<%- include('./partials/footer.ejs'); %>