<%- include('./partials/header.ejs'); %>
<div class="container-fluid">
    <div class="row">
      <%- include('./partials/sidebar.ejs'); %>
      <div class="col-lg-8 col-sm-12">
        
      </div>
    </div>  
</div>

<%- include('./partials/footer.ejs'); %>