@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');



:root {
    --page-background: #F8F9FA;
    --logo-font-color: #FFC04E;
    --logo-bg-color: #046C8C;
    --other-font-color: #7EE4FB;
    --other-font-color-hover: #d9f3f9;
}

// Custom bootstrap
$theme-colors: (
  "primary": #046C8C
);



@import "../node_modules/bootstrap/scss/bootstrap";
// End custom bootstrap

/* Standard CSS */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--page-background);
}

.content-wrap {
    padding-top: 40px;
}

.navbar {
    z-index: 10000;
}

#loginTitle {
    font-size: 3em;
}

hr.or {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, var(--page-background), rgb(70, 70, 70), var(--page-background));
    overflow: visible;
    text-align: center;
    height: 1px;
}

hr.or:after {
    background: var(--page-background);
    content: 'or';
    padding: 0 4px;
    position: relative;
    top: -13px;
}

.appLogo {
    font-family: 'Bowlby One SC', cursive;
    color: var(--logo-font-color) !important;
}

.navbar {
    background-color: var(--logo-bg-color) !important;
}

.nav-link {
    color: var(--other-font-color) !important;
}

.nav-link:hover {
    color: var(--other-font-color-hover) !important;
}

.logout-btn {
    background: none;
    border: none;
    color: #495057;
}

#logout-btn:hover {
    background: none;
    border: none;
    text-decoration: none;
}

.page-container {
    padding-top: 40px;
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 6.2rem; /* height of footer */
}

.commentsLabel, .likeBtn {
    font-size: .75rem;
}

.circle {
    border-radius: 1000px !important;
    overflow: hidden;
    width: 128px;
    height: 128px;
    border: 8px solid var(--logo-bg-color);
    position: relative;
    z-index: 1;
}

.profileCircle {
    border-radius: 1000px !important;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border: 8px solid var(--logo-bg-color);
    position: relative;
    z-index: 1;
}

.postCircle {
    border-radius: 1000px !important;
    overflow: hidden;
    width: 35px;
    height: 35px;
    border: 1px solid var(--logo-bg-color);
    position: relative;
    z-index: 1;
}

.postHeading {
    padding-left: 0 !important;
}

#photoPreview {
    max-height: 300px;
    max-width: 100%;
}

.postPhoto {
    max-height: 550px;
}

.likeIcon {
    font-size: 1.2em;
}

.likeBtn:focus, .likeBtn:active {
    outline: none !important;
    box-shadow: none;
}

.likedByCurUser {
    color: red;
}

.profilePhotoOptions {
    left: 130px;
    position: absolute;
}

.profilePhotoPlaceholder {
    position: relative;
    left: 25%;
    top: 5%;
    width: 100%;
    font-size: 4em;
    color: lightslategray;
}

.profilePhotoPlaceholderPost {
    position: relative;
    left: 25%;
    top: 2%;
    width: 100%;
    font-size: 1.25em;
    color: lightslategray;
}

.postFormContainer {
    margin-bottom: 0;
}

.postContainer {
    max-width: 720px;
}

.charCount {
    float: right;
    display: block;
    font-size: 80%;
    color: #6c757d;
}

.upload-button {
    font-size: 2em;
    z-index: 1;
  }
  
  .file-upload {
    display: none;
}

.userInfoText {
    font-size: 1.5em;
}

.editIcon {
    font-size: .6em;
}

.p-placeholder {
    position: absolute;
    top: 95px;
    left: 120px;
    z-index: 10;
    color: #666666;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.upload-button:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    color: #999;
  }

/**Footer**/


footer {
    z-index: 10;
    position: absolute;
    display: block;
    bottom: 0;
    height: 6rem; 
    text-align: center;
    color: grey;
    padding-top: 10px;
}

.footerClass {
    position: absolute !important;
    padding-bottom: 3px;
}

.landingContainer {
    background-color: transparent;
}

.list-form {
    padding: 0 !important;
}

.list-group {
    padding-left: 15px !important;
}

.social-link {
    color: grey;
    font-size: 2rem;
    margin: 1rem;
}

.social-link:hover {
    color: black;
}

#copyright {
    display: block;
    width: 100%;
    margin: 1rem 0 1rem 0;
}